openapi: 3.0.3
info:
  title: Library Management API
  description: |
    API de gestion de bibliothèque — gère les livres, exemplaires, auteurs, genres,
    arrivages (réceptions de stock) et ventes au sein d'une ou plusieurs librairies.

    Basée sur le MCD conceptuel du projet.
  version: 0.1.0
  contact:
    name: API Support
    email: support@library.app

servers:
  - url: https://api.library.app/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

components:

  schemas:
    # ────────────────── Enums ──────────────────
    BookCopyFormat:
      type: string
      enum:
        - HARDCOVER
        - PAPERBACK
        - POCKET
      description: Format physique d'un exemplaire

    BookCopyStatus:
      type: string
      enum:
        - AVAILABLE
        - SOLD_OUT
      description: Disponibilité d'un exemplaire

    SaleStatus:
      type: string
      enum:
        - SOLD
        - BOOKED
        - EXPIRED
      description: État d'une vente

    # ────────────────── Library ──────────────────
    LibraryRequest:
      type: object
      required:
        - name
        - phone
        - email
        - address
      properties:
        name:
          type: string
          maxLength: 100
          example: Librairie Générale
        phone:
          type: string
          maxLength: 30
          example: +261 34 12 345 67
        email:
          type: string
          format: email
          maxLength: 100
          example: contact@librairie-generale.mg
        address:
          type: string
          maxLength: 100
          example: 15 Avenue de l'Indépendance, Antananarivo

    LibraryResponse:
      type: object
      required:
        - id
        - name
        - phone
        - email
        - address
      properties:
        id:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name:
          type: string
          maxLength: 100
          example: Librairie Générale
        phone:
          type: string
          maxLength: 30
          example: +261 34 12 345 67
        email:
          type: string
          format: email
          maxLength: 100
          example: contact@librairie-generale.mg
        address:
          type: string
          maxLength: 100
          example: 15 Avenue de l'Indépendance, Antananarivo

    LibraryUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          maxLength: 100
          example: Librairie Générale
        phone:
          type: string
          maxLength: 30
          example: +261 34 12 345 67
        email:
          type: string
          format: email
          maxLength: 100
          example: contact@librairie-generale.mg
        address:
          type: string
          maxLength: 100
          example: 15 Avenue de l'Indépendance, Antananarivo

    # ────────────────── Book ──────────────────
    BookRequest:
      type: object
      required:
        - title
        - isbn
        - publisher
        - publishedAt
      properties:
        title:
          type: string
          maxLength: 100
          example: Le Petit Prince
        abstract:
          type: string
          nullable: true
          example: Les aventures d'un petit garçon venu d'ailleurs...
        isbn:
          type: string
          maxLength: 100
          example: 978-2-07-061275-8
        publisher:
          type: string
          maxLength: 100
          example: Gallimard
        publishedAt:
          type: string
          format: date
          example: "1943-04-06"

    BookResponse:
      type: object
      required:
        - id
        - title
        - isbn
        - publisher
        - publishedAt
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        title:
          type: string
          maxLength: 100
          example: Le Petit Prince
        abstract:
          type: string
          nullable: true
          example: Les aventures d'un petit garçon venu d'ailleurs...
        isbn:
          type: string
          maxLength: 100
          example: 978-2-07-061275-8
        publisher:
          type: string
          maxLength: 100
          example: Gallimard
        publishedAt:
          type: string
          format: date
          example: "1943-04-06"
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    BookUpdateRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
          maxLength: 100
          example: Le Petit Prince
        abstract:
          type: string
          nullable: true
          example: Les aventures d'un petit garçon venu d'ailleurs...
        isbn:
          type: string
          maxLength: 100
          example: 978-2-07-061275-8
        publisher:
          type: string
          maxLength: 100
          example: Gallimard
        publishedAt:
          type: string
          format: date
          example: "1943-04-06"

    # ────────────────── Author ──────────────────
    AuthorRequest:
      type: object
      required:
        - lastName
      properties:
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Antoine
        lastName:
          type: string
          maxLength: 100
          example: de Saint-Exupéry

    AuthorResponse:
      type: object
      required:
        - id
        - lastName
      properties:
        id:
          type: string
          format: uuid
          example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Antoine
        lastName:
          type: string
          maxLength: 100
          example: de Saint-Exupéry

    AuthorUpdateRequest:
      type: object
      minProperties: 1
      properties:
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Antoine
        lastName:
          type: string
          maxLength: 100
          example: de Saint-Exupéry

    # ────────────────── Genre ──────────────────
    GenreRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 100
          example: Fiction

    GenreResponse:
      type: object
      required:
        - id
        - name
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
        name:
          type: string
          maxLength: 100
          example: Fiction
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    GenreUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          maxLength: 100
          example: Fiction

    # ────────────────── Customer ──────────────────
    CustomerRequest:
      type: object
      required:
        - lastName
        - birthDate
        - email
        - password
      properties:
        lastName:
          type: string
          maxLength: 100
          example: Randria
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Faly
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        password:
          type: string
          maxLength: 255
          writeOnly: true
          example: "********"
          description: Mot de passe en clair (sera hashé côté serveur)
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56

    CustomerResponse:
      type: object
      required:
        - id
        - lastName
        - birthDate
        - email
        - updatedAt
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
        lastName:
          type: string
          maxLength: 100
          example: Randria
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Faly
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    CustomerUpdateRequest:
      type: object
      minProperties: 1
      properties:
        lastName:
          type: string
          maxLength: 100
          example: Randria
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Faly
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56

    # ────────────────── Book Copy ──────────────────
    BookCopyRequest:
      type: object
      required:
        - price
        - format
        - bookId
        - pageNumber
      properties:
        price:
          type: number
          format: double
          example: 25.00
          description: Prix de vente unitaire
        format:
          $ref: '#/components/schemas/BookCopyFormat'
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        pageNumber:
          type: integer
          example: 120

    BookCopyResponse:
      type: object
      required:
        - id
        - price
        - format
        - libraryId
        - bookId
        - status
        - pageNumber
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        price:
          type: number
          format: double
          example: 25.00
        format:
          $ref: '#/components/schemas/BookCopyFormat'
        libraryId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        status:
          $ref: '#/components/schemas/BookCopyStatus'
        pageNumber:
          type: integer
          example: 120
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    BookCopyUpdateRequest:
      type: object
      minProperties: 1
      properties:
        price:
          type: number
          format: double
          example: 25.00
        format:
          $ref: '#/components/schemas/BookCopyFormat'
        status:
          $ref: '#/components/schemas/BookCopyStatus'
        pageNumber:
          type: integer
          example: 120

    # ────────────────── Arrival ──────────────────
    ArrivalRequest:
      type: object
      properties:
        arrivalDate:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
          description: Date de réception. Par défaut, la date courante.

    ArrivalResponse:
      type: object
      required:
        - id
        - createdAt
        - arrivalDate
        - libraryId
      properties:
        id:
          type: string
          format: uuid
          example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
        arrivalDate:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
        libraryId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890

    # ────────────────── Arrival Item (arrival_book_copy) ──────────────────
    ArrivalItemRequest:
      type: object
      required:
        - bookCopyId
        - purchasePrice
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        purchasePrice:
          type: number
          format: double
          example: 15.00
          description: Prix d'achat unitaire (coût fournisseur)
        quantity:
          type: integer
          minimum: 1
          default: 1
          example: 3

    ArrivalItemResponse:
      type: object
      required:
        - bookCopyId
        - arrivalId
        - createdAt
        - purchasePrice
        - quantity
        - updatedAt
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        arrivalId:
          type: string
          format: uuid
          example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
        purchasePrice:
          type: number
          format: double
          example: 15.00
        quantity:
          type: integer
          example: 3
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"

    # ────────────────── Sale ──────────────────
    SaleRequest:
      type: object
      required:
        - customerId
      properties:
        saleDate:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"
          description: Date de la vente. Par défaut, la date courante.
        customerId:
          type: string
          format: uuid
          example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
        status:
          $ref: '#/components/schemas/SaleStatus'

    SaleResponse:
      type: object
      required:
        - id
        - saleDate
        - customerId
        - status
        - libraryId
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        saleDate:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"
        customerId:
          type: string
          format: uuid
          example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
        status:
          $ref: '#/components/schemas/SaleStatus'
        libraryId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"

    SaleUpdateRequest:
      type: object
      minProperties: 1
      properties:
        status:
          $ref: '#/components/schemas/SaleStatus'
        saleDate:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"

    # ────────────────── Sale Item (sale_book_copy) ──────────────────
    SaleItemRequest:
      type: object
      required:
        - bookCopyId
        - price
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        quantity:
          type: integer
          minimum: 1
          default: 1
          example: 1
        price:
          type: number
          format: double
          example: 25.00
          description: Prix unitaire de vente au moment de la transaction

    SaleItemResponse:
      type: object
      required:
        - bookCopyId
        - saleId
        - createdAt
        - quantity
        - price
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        saleId:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"
        quantity:
          type: integer
          example: 1
        price:
          type: number
          format: double
          example: 25.00

    # ────────────────── Book-Author Association ──────────────────
    BookAuthorResponse:
      type: object
      required:
        - bookId
        - authorId
      properties:
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        authorId:
          type: string
          format: uuid
          example: c1d2e3f4-a5b6-7890-abcd-ef1234567890

    # ────────────────── Book-Genre Association ──────────────────
    BookGenreResponse:
      type: object
      required:
        - bookId
        - genreId
        - createdAt
        - updatedAt
      properties:
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        genreId:
          type: string
          format: uuid
          example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    # ────────────────── Analytics ──────────────────
    DailyRevenueResponse:
      type: object
      required:
        - date
        - totalRevenue
      properties:
        date:
          type: string
          format: date
          example: "2026-06-06"
        totalRevenue:
          type: number
          format: double
          example: 1250.00

    MonthlyRevenueItem:
      type: object
      required:
        - year
        - month
        - totalRevenue
      properties:
        year:
          type: integer
          example: 2026
        month:
          type: string
          enum:
            - janvier
            - février
            - mars
            - avril
            - mai
            - juin
            - juillet
            - août
            - septembre
            - octobre
            - novembre
            - décembre
          example: juin
        totalRevenue:
          type: number
          format: double
          example: 4500.00

    RevenueByGenreItem:
      type: object
      required:
        - genreId
        - genreName
        - totalRevenue
        - totalSold
      properties:
        genreId:
          type: string
          format: uuid
          example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
        genreName:
          type: string
          example: Fiction
        totalRevenue:
          type: number
          format: double
          example: 2300.00
        totalSold:
          type: integer
          example: 45

    TopBookItem:
      type: object
      required:
        - book
        - totalSold
        - totalRevenue
      properties:
        book:
          $ref: '#/components/schemas/BookResponse'
        totalSold:
          type: integer
          example: 30
        totalRevenue:
          type: number
          format: double
          example: 750.00

    RecentSaleItem:
      type: object
      required:
        - id
        - saleDate
        - customer
        - status
        - totalAmount
      properties:
        id:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        saleDate:
          type: string
          format: date-time
          example: "2026-06-06T14:30:00Z"
        customer:
          $ref: '#/components/schemas/CustomerResponse'
        status:
          $ref: '#/components/schemas/SaleStatus'
        totalAmount:
          type: number
          format: double
          example: 75.00

    StockResponse:
      type: object
      required:
        - totalCopies
        - availableCopies
        - soldOutCopies
      properties:
        totalCopies:
          type: integer
          example: 200
        availableCopies:
          type: integer
          example: 150
        soldOutCopies:
          type: integer
          example: 50
        byFormat:
          type: array
          items:
            type: object
            required:
              - format
              - total
              - available
            properties:
              format:
                $ref: '#/components/schemas/BookCopyFormat'
              total:
                type: integer
                example: 80
              available:
                type: integer
                example: 60

    # ────────────────── Pagination ──────────────────
    Pagination:
      type: object
      required:
        - page
        - size
        - total
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
        total:
          type: integer
          example: 42

    # ────────────────── Shared error ──────────────────
    Error:
      type: object
      required:
        - status
        - error
        - message
      properties:
        status:
          type: integer
          description: Code HTTP
        error:
          type: string
          description: Libellé de l'erreur
        message:
          type: string
          description: Message explicatif
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Champ concerné par l'erreur
              message:
                type: string
                description: Description de l'erreur sur ce champ

  responses:
    BadRequest:
      description: Requête malformée ou paramètres invalides
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 400
            error: Bad Request
            message: The request body contains invalid JSON or a parameter is malformed

    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 404
            error: Not Found
            message: The requested resource was not found

    Unprocessable:
      description: Données sémantiquement invalides
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 422
            error: Unprocessable Entity
            message: At least one required field is missing or invalid


paths:
  # ═══════════════════════ Libraries ═══════════════════════
  /libraries:
    get:
      operationId: listLibraries
      summary: List all libraries
      tags:
        - Libraries
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on name, email, or address
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of libraries
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    name: Librairie Générale
                    phone: +261 34 12 345 67
                    email: contact@librairie-generale.mg
                    address: "15 Avenue de l'Indépendance, Antananarivo"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createLibrary
      summary: Create a new library
      tags:
        - Libraries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryRequest'
      responses:
        '201':
          description: Library created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryResponse'
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Librairie Générale
                phone: +261 34 12 345 67
                email: contact@librairie-generale.mg
                address: "15 Avenue de l'Indépendance, Antananarivo"

        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Get a library by ID
      tags:
        - Libraries
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Library details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryResponse'
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Librairie Générale
                phone: +261 34 12 345 67
                email: contact@librairie-generale.mg
                address: "15 Avenue de l'Indépendance, Antananarivo"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateLibrary
      summary: Update a library
      tags:
        - Libraries
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryUpdateRequest'
      responses:
        '200':
          description: Library updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryResponse'
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Librairie Générale
                phone: +261 34 12 345 67
                email: contact@librairie-generale.mg
                address: "15 Avenue de l'Indépendance, Antananarivo"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteLibrary
      summary: Delete a library
      tags:
        - Libraries
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Library deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Books ═══════════════════════
  /books:
    get:
      operationId: listBooks
      summary: List all books
      tags:
        - Books
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on title or publisher
        - name: isbn
          in: query
          schema:
            type: string
            maxLength: 100
            example: 978-2-07-061275-8
          description: Exact ISBN match
        - name: authorId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by author
        - name: genreId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by genre
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of books
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                    title: Le Petit Prince
                    abstract: Les aventures...
                    isbn: 978-2-07-061275-8
                    publisher: Gallimard
                    publishedAt: 1943-04-06
                    createdAt: "2026-06-01T10:30:00Z"
                  -
                    id: c2d3e4f5-a6b7-8901-abcd-ef1234567891
                    title: Les Misérables
                    abstract: null
                    isbn: 978-2-07-040922-8
                    publisher: Gallimard
                    publishedAt: 1862-03-30
                    createdAt: "2026-06-02T11:00:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 2

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createBook
      summary: Create a new book
      tags:
        - Books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookRequest'
      responses:
        '201':
          description: Book created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                title: Le Petit Prince
                abstract: Les aventures...
                isbn: 978-2-07-061275-8
                publisher: Gallimard
                publishedAt: 1943-04-06
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /books/{bookId}:
    get:
      operationId: getBook
      summary: Get a book by ID
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Book details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                title: Le Petit Prince
                abstract: Les aventures...
                isbn: 978-2-07-061275-8
                publisher: Gallimard
                publishedAt: 1943-04-06
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateBook
      summary: Update a book
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookUpdateRequest'
      responses:
        '200':
          description: Book updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                title: Le Petit Prince
                abstract: Les aventures...
                isbn: 978-2-07-061275-8
                publisher: Gallimard
                publishedAt: 1943-04-06
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteBook
      summary: Delete a book
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Book deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Book Authors ──────────────────
  /books/{bookId}/authors:
    get:
      operationId: listBookAuthors
      summary: List authors of a book
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      responses:
        '200':
          description: List of author associations for this book
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookAuthorResponse'
              example:
                -
                  bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                  authorId: c1d2e3f4-a5b6-7890-abcd-ef1234567890

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'


  # ═══════════════════════ Book Genres ──────────────────
  /books/{bookId}/genres:
    get:
      operationId: listBookGenres
      summary: List genres of a book
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      responses:
        '200':
          description: List of genre associations for this book
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookGenreResponse'
              example:
                -
                  bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                  genreId: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                  createdAt: "2026-06-01T10:30:00Z"
                  updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'


  # ═══════════════════════ Authors ═══════════════════════
  /authors:
    get:
      operationId: listAuthors
      summary: List all authors
      tags:
        - Authors
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on first name or last name
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of authors
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthorResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                    firstName: Antoine
                    lastName: de Saint-Exupéry
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createAuthor
      summary: Create a new author
      tags:
        - Authors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorRequest'
      responses:
        '201':
          description: Author created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
              example:
                id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                firstName: Antoine
                lastName: de Saint-Exupéry

        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /authors/{authorId}:
    get:
      operationId: getAuthor
      summary: Get an author by ID
      tags:
        - Authors
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Author details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
              example:
                id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                firstName: Antoine
                lastName: de Saint-Exupéry

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateAuthor
      summary: Update an author
      tags:
        - Authors
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorUpdateRequest'
      responses:
        '200':
          description: Author updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
              example:
                id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                firstName: Antoine
                lastName: de Saint-Exupéry

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteAuthor
      summary: Delete an author
      tags:
        - Authors
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Author deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Genres ═══════════════════════
  /genres:
    get:
      operationId: listGenres
      summary: List all genres
      tags:
        - Genres
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on name
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of genres
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GenreResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    name: Fiction
                    createdAt: "2026-06-01T10:30:00Z"
                    updatedAt: "2026-06-01T10:30:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createGenre
      summary: Create a new genre
      tags:
        - Genres
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreRequest'
      responses:
        '201':
          description: Genre created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponse'
              example:
                id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                name: Fiction
                createdAt: "2026-06-01T10:30:00Z"
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /genres/{genreId}:
    get:
      operationId: getGenre
      summary: Get a genre by ID
      tags:
        - Genres
      parameters:
        - name: genreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Genre details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponse'
              example:
                id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                name: Fiction
                createdAt: "2026-06-01T10:30:00Z"
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateGenre
      summary: Update a genre
      tags:
        - Genres
      parameters:
        - name: genreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreUpdateRequest'
      responses:
        '200':
          description: Genre updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponse'
              example:
                id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                name: Fiction
                createdAt: "2026-06-01T10:30:00Z"
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteGenre
      summary: Delete a genre
      tags:
        - Genres
      parameters:
        - name: genreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Genre deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Customers ═══════════════════════
  /customers:
    get:
      operationId: listCustomers
      summary: List all customers
      tags:
        - Customers
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on first name, last name, or email
        - name: email
          in: query
          schema:
            type: string
            format: email
          description: Exact email match
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of customers
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                    lastName: Randria
                    firstName: Faly
                    birthDate: 1995-08-12
                    email: faly.randria@email.com
                    phone: +261 32 11 234 56
                    updatedAt: "2026-06-01T10:30:00Z"
                    createdAt: "2026-06-01T10:30:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createCustomer
      summary: Create a new customer
      tags:
        - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequest'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              example:
                id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                lastName: Randria
                firstName: Faly
                birthDate: 1995-08-12
                email: faly.randria@email.com
                phone: +261 32 11 234 56
                updatedAt: "2026-06-01T10:30:00Z"
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /customers/{customerId}:
    get:
      operationId: getCustomer
      summary: Get a customer by ID
      tags:
        - Customers
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              example:
                id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                lastName: Randria
                firstName: Faly
                birthDate: 1995-08-12
                email: faly.randria@email.com
                phone: +261 32 11 234 56
                updatedAt: "2026-06-01T10:30:00Z"
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateCustomer
      summary: Update a customer
      tags:
        - Customers
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              example:
                id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                lastName: Randria
                firstName: Faly
                birthDate: 1995-08-12
                email: faly.randria@email.com
                phone: +261 32 11 234 56
                updatedAt: "2026-06-01T10:30:00Z"
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteCustomer
      summary: Delete a customer
      tags:
        - Customers
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Customer deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Book Copies ──────────────────
  /libraries/{libraryId}/copies:
    get:
      operationId: listLibraryCopies
      summary: List book copies in a library
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BookCopyStatus'
          description: Filter by availability status
        - name: format
          in: query
          schema:
            $ref: '#/components/schemas/BookCopyFormat'
          description: Filter by format
        - name: bookId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by book
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of book copies
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookCopyResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                    price: 25.0
                    format: PAPERBACK
                    libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                    status: AVAILABLE
                    pageNumber: 120
                    updatedAt: "2026-06-01T10:30:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createBookCopy
      summary: Add a new book copy to a library
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookCopyRequest'
      responses:
        '201':
          description: Book copy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCopyResponse'
              example:
                id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                price: 25.0
                format: PAPERBACK
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                status: AVAILABLE
                pageNumber: 120
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}/copies/{copyId}:
    get:
      operationId: getBookCopy
      summary: Get a book copy by ID
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: copyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Book copy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCopyResponse'
              example:
                id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                price: 25.0
                format: PAPERBACK
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                status: AVAILABLE
                pageNumber: 120
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateBookCopy
      summary: Update a book copy
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: copyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookCopyUpdateRequest'
      responses:
        '200':
          description: Book copy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCopyResponse'
              example:
                id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                price: 25.0
                format: PAPERBACK
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                status: AVAILABLE
                pageNumber: 120
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteBookCopy
      summary: Remove a book copy from a library
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: copyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Book copy deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Arrivals ──────────────────
  /libraries/{libraryId}/arrivals:
    get:
      operationId: listLibraryArrivals
      summary: List arrivals for a library
      tags:
        - Arrivals
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by arrival date (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by arrival date (inclusive)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of arrivals
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArrivalResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                    createdAt: "2026-06-10T08:00:00Z"
                    arrivalDate: "2026-06-10T08:00:00Z"
                    libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createArrival
      summary: Create a new arrival for a library
      tags:
        - Arrivals
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArrivalRequest'
      responses:
        '201':
          description: Arrival created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalResponse'
              example:
                id: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                createdAt: "2026-06-10T08:00:00Z"
                arrivalDate: "2026-06-10T08:00:00Z"
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}/arrivals/{arrivalId}:
    get:
      operationId: getArrival
      summary: Get an arrival by ID
      tags:
        - Arrivals
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      responses:
        '200':
          description: Arrival details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalResponse'
              example:
                id: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                createdAt: "2026-06-10T08:00:00Z"
                arrivalDate: "2026-06-10T08:00:00Z"
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: deleteArrival
      summary: Delete an arrival
      tags:
        - Arrivals
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      responses:
        '204':
          description: Arrival deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Arrival Items ──────────────────
  /arrivals/{arrivalId}/items:
    get:
      operationId: listArrivalItems
      summary: List items in an arrival
      tags:
        - Arrivals
      parameters:
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      responses:
        '200':
          description: List of arrival items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArrivalItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  arrivalId: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                  createdAt: "2026-06-10T08:00:00Z"
                  purchasePrice: 15.0
                  quantity: 3
                  updatedAt: "2026-06-10T08:00:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createArrivalItem
      summary: Add an item to an arrival
      tags:
        - Arrivals
      parameters:
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArrivalItemRequest'
      responses:
        '201':
          description: Arrival item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  arrivalId: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                  createdAt: "2026-06-10T08:00:00Z"
                  purchasePrice: 15.0
                  quantity: 3
                  updatedAt: "2026-06-10T08:00:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /arrivals/{arrivalId}/items/{bookCopyId}:
    delete:
      operationId: deleteArrivalItem
      summary: Remove an item from an arrival
      tags:
        - Arrivals
      parameters:
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
        - name: bookCopyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Arrival item deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Sales ──────────────────
  /libraries/{libraryId}/sales:
    get:
      operationId: listLibrarySales
      summary: List sales for a library
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SaleStatus'
          description: Filter by sale status
        - name: customerId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by customer
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by sale date (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by sale date (inclusive)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of sales
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SaleResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                    saleDate: "2026-06-15T14:30:00Z"
                    customerId: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                    status: SOLD
                    libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    createdAt: "2026-06-15T14:30:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createSale
      summary: Create a new sale in a library
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleRequest'
      responses:
        '201':
          description: Sale created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleResponse'
              example:
                id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                saleDate: "2026-06-15T14:30:00Z"
                customerId: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                status: SOLD
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                createdAt: "2026-06-15T14:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}/sales/{saleId}:
    get:
      operationId: getSale
      summary: Get a sale by ID
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      responses:
        '200':
          description: Sale details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleResponse'
              example:
                id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                saleDate: "2026-06-15T14:30:00Z"
                customerId: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                status: SOLD
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                createdAt: "2026-06-15T14:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateSale
      summary: Update a sale (e.g. change status)
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleUpdateRequest'
      responses:
        '200':
          description: Sale updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleResponse'
              example:
                id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                saleDate: "2026-06-15T14:30:00Z"
                customerId: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                status: SOLD
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                createdAt: "2026-06-15T14:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteSale
      summary: Delete a sale
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      responses:
        '204':
          description: Sale deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Sale Items ──────────────────
  /sales/{saleId}/items:
    get:
      operationId: listSaleItems
      summary: List items in a sale
      tags:
        - Sales
      parameters:
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      responses:
        '200':
          description: List of sale items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SaleItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  saleId: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                  createdAt: "2026-06-15T14:30:00Z"
                  quantity: 1
                  price: 25.0

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createSaleItem
      summary: Add an item to a sale
      tags:
        - Sales
      parameters:
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleItemRequest'
      responses:
        '201':
          description: Sale item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  saleId: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                  createdAt: "2026-06-15T14:30:00Z"
                  quantity: 1
                  price: 25.0

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /sales/{saleId}/items/{bookCopyId}:
    delete:
      operationId: deleteSaleItem
      summary: Remove an item from a sale
      tags:
        - Sales
      parameters:
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        - name: bookCopyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Sale item deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Analytics ═══════════════════════

  /libraries/{libraryId}/analytics/revenue/today:
    get:
      operationId: getDailyRevenue
      summary: Revenue du jour
      description: Chiffre d'affaires total des ventes soldées aujourd'hui pour une librairie
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Revenue du jour
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRevenueResponse'
              example:
                date: "2026-06-06"
                totalRevenue: 1250.00
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/revenue/monthly:
    get:
      operationId: getMonthlyRevenue
      summary: Revenue mensuel
      description: Chiffre d'affaires total pour un mois donné dans une librairie
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: year
          in: query
          schema:
            type: integer
            example: 2026
          description: Année (par défaut l'année courante)
        - name: month
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 6
          description: Mois (1-12, par défaut le mois courant)
      responses:
        '200':
          description: Revenue du mois
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyRevenueItem'
              example:
                year: 2026
                month: juin
                totalRevenue: 4500.00
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/revenue/by-genre:
    get:
      operationId: getRevenueByGenre
      summary: Revenue par genre
      description: Chiffre d'affaires total groupé par genre pour une librairie, avec pagination et tri
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Date de début (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: Date de fin (inclusive)
        - name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Tri par totalRevenue (ascendant ou descendant)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Revenue groupé par genre (pagíné)
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RevenueByGenreItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - genreId: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    genreName: Fiction
                    totalRevenue: 2300.00
                    totalSold: 45
                  - genreId: e2f3a4b5-c6d7-8901-abcd-ef1234567891
                    genreName: Science-Fiction
                    totalRevenue: 1500.00
                    totalSold: 28
                pagination:
                  page: 1
                  size: 20
                  total: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/books:
    get:
      operationId: getPopularBooks
      summary: Top livres vendus
      description: Classement des livres les plus vendus pour une librairie
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Tri par totalSold (ascendant ou descendant)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Numéro de la page
        - name: size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
          description: Nombre d'éléments par page
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Date de début (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: Date de fin (inclusive)
      responses:
        '200':
          description: Classement des livres les plus vendus
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopBookItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - book:
                      id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                      title: Le Petit Prince
                      isbn: 978-2-07-061275-8
                      publisher: Gallimard
                      publishedAt: "1943-04-06"
                      createdAt: "2026-06-01T10:30:00Z"
                    totalSold: 30
                    totalRevenue: 750.00
                  - book:
                      id: c2d3e4f5-a6b7-8901-abcd-ef1234567891
                      title: Les Misérables
                      isbn: 978-2-07-040922-8
                      publisher: Gallimard
                      publishedAt: "1862-03-30"
                      createdAt: "2026-06-02T11:00:00Z"
                    totalSold: 22
                    totalRevenue: 660.00
                pagination:
                  page: 1
                  size: 20
                  total: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/sales/recent:
    get:
      operationId: getRecentSales
      summary: Ventes récentes
      description: Dernières ventes effectuées dans une librairie
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
            example: 20
          description: Nombre de ventes à retourner
      responses:
        '200':
          description: Liste des ventes récentes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentSaleItem'
              example:
                - id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                  saleDate: "2026-06-06T14:30:00Z"
                  customer:
                    id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                    lastName: Randria
                    firstName: Faly
                    birthDate: "1995-08-12"
                    email: faly.randria@email.com
                    phone: "+261 32 11 234 56"
                    updatedAt: "2026-06-06T14:30:00Z"
                    createdAt: "2026-06-01T10:00:00Z"
                  status: SOLD
                  totalAmount: 75.00
                - id: c3d4e5f6-a7b8-9012-abcd-ef1234567891
                  saleDate: "2026-06-06T11:15:00Z"
                  customer:
                    id: f2a3b4c5-d6e7-8901-abcd-ef1234567890
                    lastName: Rakoto
                    firstName: Nantenaina
                    birthDate: "1998-03-20"
                    email: nantenaina.rakoto@email.com
                    phone: "+261 32 98 765 43"
                    updatedAt: "2026-06-06T11:15:00Z"
                    createdAt: "2026-06-02T08:00:00Z"
                  status: BOOKED
                  totalAmount: 45.00
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/stock:
    get:
      operationId: getStockOverview
      summary: Livres en stock
      description: Aperçu du stock d'une librairie (exemplaires disponibles, vendus, répartition par format)
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Aperçu du stock
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockResponse'
              example:
                totalCopies: 200
                availableCopies: 150
                soldOutCopies: 50
                byFormat:
                  - format: HARDCOVER
                    total: 30
                    available: 20
                  - format: PAPERBACK
                    total: 120
                    available: 90
                  - format: POCKET
                    total: 50
                    available: 40
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/sale/booked:
    get:
      operationId: getBookedSales
      summary: Ventes réservées
      description: Ventes réservées (BOOKED) non encore soldées dans une librairie
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Liste paginée des ventes en attente
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecentSaleItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                    saleDate: "2026-06-06T10:00:00Z"
                    customer:
                      id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                      lastName: Randria
                      firstName: Faly
                      birthDate: "1995-08-12"
                      email: faly.randria@email.com
                      phone: "+261 32 11 234 56"
                      updatedAt: "2026-06-06T10:00:00Z"
                      createdAt: "2026-06-01T10:00:00Z"
                    status: BOOKED
                    totalAmount: 75.00
                pagination:
                  page: 1
                  size: 20
                  total: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
