openapi: 3.0.3
info:
  title: Library Management API
  description: |
    Library management API — manages books, copies, authors, genres,
    arrivals (stock receipts) and sales within one or more libraries.

    Based on the project's conceptual data model (MCD).
  version: 0.1.0
  contact:
    name: API Support
    email: support@library.app

servers:
  - url: https://api.library.app/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local development

components:

  schemas:
    # ────────────────── Enums ──────────────────
    BookCopyFormat:
      type: string
      enum:
        - HARDCOVER
        - PAPERBACK
        - POCKET
      description: Physical format of a book copy

    BookCopyStatus:
      type: string
      enum:
        - AVAILABLE
        - SOLD_OUT
      description: Availability status of a book copy

    SaleStatus:
      type: string
      enum:
        - SOLD
        - BOOKED
        - EXPIRED
      description: Status of a sale

    # ────────────────── Authentication ──────────────────
    RegisterRequest:
      type: object
      required:
        - email
        - password
        - confirmPassword
        - firstName
        - lastName
        - birthDate
      properties:
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          example: mySecureP@ss1
        confirmPassword:
          type: string
          format: password
          minLength: 8
          maxLength: 128
          example: mySecureP@ss1
        firstName:
          type: string
          maxLength: 100
          example: Faly
        lastName:
          type: string
          maxLength: 100
          example: Randria
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        password:
          type: string
          format: password
          example: mySecureP@ss1

    AuthResponse:
      type: object
      required:
        - token
        - user
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIs...
        user:
          type: object
          required:
            - email
            - firstName
            - lastName
            - birthDate
          properties:
            email:
              type: string
              format: email
              example: faly.randria@email.com
            firstName:
              type: string
              maxLength: 100
              example: Faly
            lastName:
              type: string
              maxLength: 100
              example: Randria
            birthDate:
              type: string
              format: date
              example: "1995-08-12"
            phone:
              type: string
              maxLength: 30
              nullable: true
              example: +261 32 11 234 56

    # ────────────────── Library ──────────────────
    LibraryRequest:
      type: object
      required:
        - name
        - phone
        - email
        - address
      properties:
        name:
          type: string
          maxLength: 100
          example: Librairie Générale
        phone:
          type: string
          maxLength: 30
          example: +261 34 12 345 67
        email:
          type: string
          format: email
          maxLength: 100
          example: contact@librairie-generale.mg
        address:
          type: string
          maxLength: 100
          example: 15 Avenue de l'Indépendance, Antananarivo

    LibraryResponse:
      type: object
      required:
        - id
        - name
        - phone
        - email
        - address
      properties:
        id:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name:
          type: string
          maxLength: 100
          example: Librairie Générale
        phone:
          type: string
          maxLength: 30
          example: +261 34 12 345 67
        email:
          type: string
          format: email
          maxLength: 100
          example: contact@librairie-generale.mg
        address:
          type: string
          maxLength: 100
          example: 15 Avenue de l'Indépendance, Antananarivo

    LibraryUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          maxLength: 100
          example: Librairie Générale
        phone:
          type: string
          maxLength: 30
          example: +261 34 12 345 67
        email:
          type: string
          format: email
          maxLength: 100
          example: contact@librairie-generale.mg
        address:
          type: string
          maxLength: 100
          example: 15 Avenue de l'Indépendance, Antananarivo

    # ────────────────── Book ──────────────────
    BookRequest:
      type: object
      required:
        - title
        - isbn
        - publisher
        - publishedAt
      properties:
        title:
          type: string
          maxLength: 100
          example: Le Petit Prince
        summary:
          type: string
          nullable: true
          example: Les aventures d'un petit garçon venu d'ailleurs...
        isbn:
          type: string
          maxLength: 100
          example: 978-2-07-061275-8
        publisher:
          type: string
          maxLength: 100
          example: Gallimard
        publishedAt:
          type: string
          format: date
          example: "1943-04-06"

    BookResponse:
      type: object
      required:
        - id
        - title
        - isbn
        - publisher
        - publishedAt
        - createdAt
        - authors
        - genres
      properties:
        id:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        title:
          type: string
          maxLength: 100
          example: Le Petit Prince
        summary:
          type: string
          nullable: true
          example: Les aventures d'un petit garçon venu d'ailleurs...
        isbn:
          type: string
          maxLength: 100
          example: 978-2-07-061275-8
        publisher:
          type: string
          maxLength: 100
          example: Gallimard
        publishedAt:
          type: string
          format: date
          example: "1943-04-06"
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"
        authors:
          type: array
          items:
            $ref: '#/components/schemas/AuthorResponse'
        genres:
          type: array
          items:
            $ref: '#/components/schemas/GenreSummary'

    BookUpdateRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
          maxLength: 100
          example: Le Petit Prince
        summary:
          type: string
          nullable: true
          example: Les aventures d'un petit garçon venu d'ailleurs...
        isbn:
          type: string
          maxLength: 100
          example: 978-2-07-061275-8
        publisher:
          type: string
          maxLength: 100
          example: Gallimard
        publishedAt:
          type: string
          format: date
          example: "1943-04-06"

    # ────────────────── Author ──────────────────
    AuthorRequest:
      type: object
      required:
        - firstName
        - lastName
      properties:
        firstName:
          type: string
          maxLength: 100
          example: Antoine
        lastName:
          type: string
          maxLength: 100
          example: de Saint-Exupéry

    AuthorResponse:
      type: object
      required:
        - id
        - firstName
        - lastName
      properties:
        id:
          type: string
          format: uuid
          example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
        firstName:
          type: string
          maxLength: 100
          example: Antoine
        lastName:
          type: string
          maxLength: 100
          example: de Saint-Exupéry

    AuthorUpdateRequest:
      type: object
      minProperties: 1
      properties:
        firstName:
          type: string
          maxLength: 100
          example: Antoine
        lastName:
          type: string
          maxLength: 100
          example: de Saint-Exupéry

    # ────────────────── Genre ──────────────────
    GenreRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 100
          example: Fiction

    GenreResponse:
      type: object
      required:
        - id
        - name
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
        name:
          type: string
          maxLength: 100
          example: Fiction
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    GenreSummary:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
        name:
          type: string
          maxLength: 100
          example: Fiction

    GenreUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          maxLength: 100
          example: Fiction

    # ────────────────── User ──────────────────
    UserRequest:
      type: object
      required:
        - lastName
        - birthDate
        - email
      properties:
        lastName:
          type: string
          maxLength: 100
          example: Randria
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Faly
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56

    UserResponse:
      type: object
      required:
        - id
        - lastName
        - birthDate
        - email
        - role
        - updatedAt
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
        lastName:
          type: string
          maxLength: 100
          example: Randria
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Faly
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56
        role:
          type: string
          enum: [ADMIN, CUSTOMER]
          description: User role (discriminator)
          example: CUSTOMER
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"
        createdAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    UserUpdateRequest:
      type: object
      minProperties: 1
      properties:
        lastName:
          type: string
          maxLength: 100
          example: Randria
        firstName:
          type: string
          maxLength: 100
          nullable: true
          example: Faly
        birthDate:
          type: string
          format: date
          example: "1995-08-12"
        email:
          type: string
          format: email
          maxLength: 100
          example: faly.randria@email.com
        phone:
          type: string
          maxLength: 30
          nullable: true
          example: +261 32 11 234 56

    # ────────────────── Book Copy ──────────────────
    BookCopyRequest:
      type: object
      required:
        - price
        - format
        - bookId
        - libraryId
        - pageNumber
      properties:
        price:
          type: number
          format: double
          example: 25.00
          description: Unit sale price
        format:
          $ref: '#/components/schemas/BookCopyFormat'
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        libraryId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        pageNumber:
          type: integer
          example: 120

    BookCopyResponse:
      type: object
      required:
        - id
        - price
        - format
        - libraryId
        - bookId
        - status
        - pageNumber
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        price:
          type: number
          format: double
          example: 25.00
        format:
          $ref: '#/components/schemas/BookCopyFormat'
        libraryId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        status:
          $ref: '#/components/schemas/BookCopyStatus'
        pageNumber:
          type: integer
          example: 120
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-01T10:30:00Z"

    BookCopyUpdateRequest:
      type: object
      minProperties: 1
      properties:
        price:
          type: number
          format: double
          example: 25.00
        format:
          $ref: '#/components/schemas/BookCopyFormat'
        status:
          $ref: '#/components/schemas/BookCopyStatus'
        pageNumber:
          type: integer
          example: 120

    # ────────────────── Arrival ──────────────────
    ArrivalRequest:
      type: object
      properties:
        arrivalDate:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
          description: Reception date. Defaults to the current date.

    ArrivalResponse:
      type: object
      required:
        - id
        - createdAt
        - arrivalDate
        - libraryId
      properties:
        id:
          type: string
          format: uuid
          example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
        arrivalDate:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
        libraryId:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890

    # ────────────────── Arrival Item (arrival_book_copy) ──────────────────
    ArrivalItemRequest:
      type: object
      required:
        - bookCopyId
        - purchasePrice
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        purchasePrice:
          type: number
          format: double
          example: 15.00
          description: Unit purchase price (supplier cost)
        quantity:
          type: integer
          minimum: 1
          default: 1
          example: 3

    ArrivalItemResponse:
      type: object
      required:
        - bookCopyId
        - arrivalId
        - createdAt
        - purchasePrice
        - quantity
        - updatedAt
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        arrivalId:
          type: string
          format: uuid
          example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"
        purchasePrice:
          type: number
          format: double
          example: 15.00
        quantity:
          type: integer
          example: 3
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-10T08:00:00Z"

    # ────────────────── Sale ──────────────────
    SaleRequest:
      type: object
      required:
        - customer
      properties:
        saleDate:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"
          description: Sale date. Defaults to the current date.
        customer:
          $ref: '#/components/schemas/UserRequest'
        status:
          $ref: '#/components/schemas/SaleStatus'

    SaleResponse:
      type: object
      required:
        - id
        - saleDate
        - customer
        - status
        - library
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        saleDate:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"
        customer:
          $ref: '#/components/schemas/UserResponse'
        status:
          $ref: '#/components/schemas/SaleStatus'
        library:
          $ref: '#/components/schemas/LibraryResponse'
        createdAt:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"

    SaleUpdateRequest:
      type: object
      minProperties: 1
      properties:
        status:
          $ref: '#/components/schemas/SaleStatus'
        saleDate:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"

    # ────────────────── Sale Item (sale_book_copy) ──────────────────
    SaleItemRequest:
      type: object
      required:
        - bookCopyId
        - price
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        quantity:
          type: integer
          minimum: 1
          default: 1
          example: 1
        price:
          type: number
          format: double
          example: 25.00
          description: Unit sale price at the time of transaction

    SaleItemResponse:
      type: object
      required:
        - bookCopyId
        - saleId
        - createdAt
        - quantity
        - price
      properties:
        bookCopyId:
          type: string
          format: uuid
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        saleId:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        createdAt:
          type: string
          format: date-time
          example: "2026-06-15T14:30:00Z"
        quantity:
          type: integer
          example: 1
        price:
          type: number
          format: double
          example: 25.00


    # ────────────────── Analytics ──────────────────
    DailyRevenueResponse:
      type: object
      required:
        - date
        - totalRevenue
      properties:
        date:
          type: string
          format: date
          example: "2026-06-06"
        totalRevenue:
          type: number
          format: double
          example: 1250.00

    MonthlyRevenueItem:
      type: object
      required:
        - year
        - month
        - totalRevenue
      properties:
        year:
          type: integer
          example: 2026
        month:
          type: string
          enum:
            - january
            - february
            - march
            - april
            - may
            - june
            - july
            - august
            - september
            - october
            - november
            - december
          example: june
        totalRevenue:
          type: number
          format: double
          example: 4500.00

    RevenueByGenreItem:
      type: object
      required:
        - genreId
        - genreName
        - totalRevenue
        - totalSold
      properties:
        genreId:
          type: string
          format: uuid
          example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
        genreName:
          type: string
          example: Fiction
        totalRevenue:
          type: number
          format: double
          example: 2300.00
        totalSold:
          type: integer
          example: 45

    TopBookItem:
      type: object
      required:
        - book
        - totalSold
        - totalRevenue
      properties:
        book:
          $ref: '#/components/schemas/BookResponse'
        totalSold:
          type: integer
          example: 30
        totalRevenue:
          type: number
          format: double
          example: 750.00

    RecentSaleItem:
      type: object
      required:
        - id
        - saleDate
        - customer
        - status
        - totalAmount
      properties:
        id:
          type: string
          format: uuid
          example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        saleDate:
          type: string
          format: date-time
          example: "2026-06-06T14:30:00Z"
        customer:
          $ref: '#/components/schemas/UserResponse'
        status:
          $ref: '#/components/schemas/SaleStatus'
        totalAmount:
          type: number
          format: double
          example: 75.00

    BookStockResponse:
      type: object
      required:
        - bookId
        - total
      properties:
        bookId:
          type: string
          format: uuid
          example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
        total:
          type: integer
          example: 200
        byFormat:
          type: string
          nullable: true
          enum:
            - HARDCOVER
            - PAPERBACK
            - POCKET
          description: Format used for filtering, null when no format filter was applied
          example: POCKET

    # ────────────────── Pagination ──────────────────
    Pagination:
      type: object
      required:
        - page
        - size
        - total
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
        total:
          type: integer
          example: 42

    # ────────────────── Shared error ──────────────────
    Error:
      type: object
      required:
        - status
        - error
        - message
      properties:
        status:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: Field affected by the error
              message:
                type: string
                description: Error description for this field

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from POST /auth/login or POST /auth/register

  responses:
    BadRequest:
      description: Malformed request or invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 400
            error: Bad Request
            message: The request body contains invalid JSON or a parameter is malformed

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 404
            error: Not Found
            message: The requested resource was not found

    Unprocessable:
      description: Semantically invalid data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 422
            error: Unprocessable Entity
            message: At least one required field is missing or invalid

    Conflict:
      description: Resource conflict (e.g. duplicate unique field)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 409
            error: Conflict
            message: ISBN 978-2-07-036002-4 already exists.

    Unauthorized:
      description: Authentication failed or missing/invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 401
            error: Unauthorized
            message: Invalid or expired JWT token

    Forbidden:
      description: Authenticated but insufficient permissions (requires ADMIN role)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: 403
            error: Forbidden
            message: Admin access required


paths:

  # ═══════════════════════ Authentication ═══════════════════════
  /auth/register:
    post:
      operationId: register
      summary: Create a new user account
      description: Register a new user with email and password. Returns a JWT token.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                token: eyJhbGciOiJIUzI1NiIs...
                user:
                  email: faly.randria@email.com
                  firstName: Faly
                  lastName: Randria
                  birthDate: "1995-08-12"
                  phone: "+261 32 11 234 56"

        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /auth/login:
    post:
      operationId: login
      summary: Authenticate
      description: Authenticate with email and password. Returns a JWT token.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                token: eyJhbGciOiJIUzI1NiIs...
                user:
                  email: faly.randria@email.com
                  firstName: Faly
                  lastName: Randria
                  birthDate: "1995-08-12"
                  phone: "+261 32 11 234 56"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/Unprocessable'

  # ═══════════════════════ Libraries ═══════════════════════
  /libraries:
    get:
      operationId: listLibraries
      summary: List all libraries
      tags:
        - Libraries
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on name, email, phone, or address
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of libraries
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LibraryResponse'
                  meta:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    name: Librairie Générale
                    phone: +261 34 12 345 67
                    email: contact@librairie-generale.mg
                    address: "15 Avenue de l'Indépendance, Antananarivo"
                meta:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/Unprocessable'

    post:
      operationId: createLibrary
      summary: Create a new library
      tags:
        - Libraries
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryRequest'
      responses:
        '201':
          description: Library created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryResponse'
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Librairie Générale
                phone: +261 34 12 345 67
                email: contact@librairie-generale.mg
                address: "15 Avenue de l'Indépendance, Antananarivo"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Get a library by ID
      tags:
        - Libraries
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Library details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryResponse'
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Librairie Générale
                phone: +261 34 12 345 67
                email: contact@librairie-generale.mg
                address: "15 Avenue de l'Indépendance, Antananarivo"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateLibrary
      summary: Update a library
      tags:
        - Libraries
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryUpdateRequest'
      responses:
        '200':
          description: Library updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryResponse'
              example:
                id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                name: Librairie Générale
                phone: +261 34 12 345 67
                email: contact@librairie-generale.mg
                address: "15 Avenue de l'Indépendance, Antananarivo"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteLibrary
      summary: Delete a library
      tags:
        - Libraries
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Library deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Books ═══════════════════════
  /books:
    get:
      operationId: listBooks
      summary: List all books
      tags:
        - Books
      parameters:
        - name: title
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on title
        - name: publisher
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on publisher
        - name: isbn
          in: query
          schema:
            type: string
            maxLength: 100
            example: 978-2-07-061275-8
          description: Exact ISBN match
        - name: lastName
          in: query
          schema:
            type: string
            maxLength: 100
          description: Exact author last name match
        - name: genre
          in: query
          schema:
            type: string
            maxLength: 100
          description: Exact genre name match
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of books
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                    title: Le Petit Prince
                    summary: Les aventures...
                    isbn: 978-2-07-061275-8
                    publisher: Gallimard
                    publishedAt: 1943-04-06
                    createdAt: "2026-06-01T10:30:00Z"
                    authors:
                      - id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                        firstName: Antoine
                        lastName: de Saint-Exupéry
                    genres:
                      - id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                        name: Fiction
                  -
                    id: c2d3e4f5-a6b7-8901-abcd-ef1234567891
                    title: Les Misérables
                    summary: null
                    isbn: 978-2-07-040922-8
                    publisher: Gallimard
                    publishedAt: 1862-03-30
                    createdAt: "2026-06-02T11:00:00Z"
                    authors:
                      - id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                        firstName: Victor
                        lastName: Hugo
                    genres:
                      - id: f2a3b4c5-d6e7-8901-abcd-ef1234567890
                        name: Roman
                pagination:
                  page: 1
                  size: 20
                  total: 2

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createBook
      summary: Create a new book
      tags:
        - Books
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookRequest'
      responses:
        '201':
          description: Book created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                title: Le Petit Prince
                summary: Les aventures...
                isbn: 978-2-07-061275-8
                publisher: Gallimard
                publishedAt: 1943-04-06
                createdAt: "2026-06-01T10:30:00Z"
                authors:
                  - id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                    firstName: Antoine
                    lastName: de Saint-Exupéry
                genres:
                  - id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    name: Fiction

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /books/{bookId}:
    get:
      operationId: getBook
      summary: Get a book by ID
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Book details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                title: Le Petit Prince
                summary: Les aventures...
                isbn: 978-2-07-061275-8
                publisher: Gallimard
                publishedAt: 1943-04-06
                createdAt: "2026-06-01T10:30:00Z"
                authors:
                  - id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                    firstName: Antoine
                    lastName: de Saint-Exupéry
                genres:
                  - id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    name: Fiction

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateBook
      summary: Update a book
      tags:
        - Books
      security:
        - BearerAuth: []
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookUpdateRequest'
      responses:
        '200':
          description: Book updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookResponse'
              example:
                id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                title: Le Petit Prince
                summary: Les aventures...
                isbn: 978-2-07-061275-8
                publisher: Gallimard
                publishedAt: 1943-04-06
                createdAt: "2026-06-01T10:30:00Z"
                authors:
                  - id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                    firstName: Antoine
                    lastName: de Saint-Exupéry
                genres:
                  - id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    name: Fiction

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteBook
      summary: Delete a book
      tags:
        - Books
      security:
        - BearerAuth: []
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b1c2d3e4-f5a6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Book deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'



  # ═══════════════════════ Authors ═══════════════════════
  /authors:
    get:
      operationId: listAuthors
      summary: List all authors
      tags:
        - Authors
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on first name or last name
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of authors
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthorResponse'
                  meta:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                    firstName: Antoine
                    lastName: de Saint-Exupéry
                meta:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createAuthor
      summary: Create a new author
      tags:
        - Authors
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorRequest'
      responses:
        '201':
          description: Author created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
              example:
                id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                firstName: Antoine
                lastName: de Saint-Exupéry

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /authors/{authorId}:
    get:
      operationId: getAuthor
      summary: Get an author by ID
      tags:
        - Authors
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Author details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
              example:
                id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                firstName: Antoine
                lastName: de Saint-Exupéry

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateAuthor
      summary: Update an author
      tags:
        - Authors
      security:
        - BearerAuth: []
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorUpdateRequest'
      responses:
        '200':
          description: Author updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorResponse'
              example:
                id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                firstName: Antoine
                lastName: de Saint-Exupéry

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteAuthor
      summary: Delete an author
      tags:
        - Authors
      security:
        - BearerAuth: []
      parameters:
        - name: authorId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: c1d2e3f4-a5b6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Author deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Genres ═══════════════════════
  /genres:
    get:
      operationId: listGenres
      summary: List all genres
      tags:
        - Genres
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Free-text search on name
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of genres
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GenreResponse'
                  meta:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    name: Fiction
                    createdAt: "2026-06-01T10:30:00Z"
                    updatedAt: "2026-06-01T10:30:00Z"
                meta:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      operationId: createGenre
      summary: Create a new genre
      tags:
        - Genres
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreRequest'
      responses:
        '201':
          description: Genre created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponse'
              example:
                id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                name: Fiction
                createdAt: "2026-06-01T10:30:00Z"
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /genres/{genreId}:
    get:
      operationId: getGenre
      summary: Get a genre by ID
      tags:
        - Genres
      parameters:
        - name: genreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Genre details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponse'
              example:
                id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                name: Fiction
                createdAt: "2026-06-01T10:30:00Z"
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateGenre
      summary: Update a genre
      tags:
        - Genres
      security:
        - BearerAuth: []
      parameters:
        - name: genreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenreUpdateRequest'
      responses:
        '200':
          description: Genre updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponse'
              example:
                id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                name: Fiction
                createdAt: "2026-06-01T10:30:00Z"
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteGenre
      summary: Delete a genre
      tags:
        - Genres
      security:
        - BearerAuth: []
      parameters:
        - name: genreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: d1e2f3a4-b5c6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Genre deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Users ═══════════════════════
  /users:
    get:
      operationId: listUsers
      summary: List all users
      tags:
        - Users
      parameters:
        - name: search
          in: query
          schema:
            type: string
            maxLength: 100
          description: Search by first name, last name, email, or phone number
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of users
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                    lastName: Randria
                    firstName: Faly
                    birthDate: 1995-08-12
                    email: faly.randria@email.com
                    phone: +261 32 11 234 56
                    updatedAt: "2026-06-01T10:30:00Z"
                    createdAt: "2026-06-01T10:30:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'

  /users/{userId}:
    get:
      operationId: getUser
      summary: Get a user by ID
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              example:
                id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                lastName: Randria
                firstName: Faly
                birthDate: 1995-08-12
                email: faly.randria@email.com
                phone: +261 32 11 234 56
                updatedAt: "2026-06-01T10:30:00Z"
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateUser
      summary: Update a user
      tags:
        - Users
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              example:
                id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                lastName: Randria
                firstName: Faly
                birthDate: 1995-08-12
                email: faly.randria@email.com
                phone: +261 32 11 234 56
                updatedAt: "2026-06-01T10:30:00Z"
                createdAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteUser
      summary: Delete a user
      tags:
        - Users
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: e1f2a3b4-c5d6-7890-abcd-ef1234567890
      responses:
        '204':
          description: User deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Book Copies ──────────────────
  /libraries/{libraryId}/copies:
    get:
      operationId: listLibraryCopies
      summary: List book copies in a library
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/BookCopyStatus'
          description: Filter by availability status
        - name: format
          in: query
          schema:
            $ref: '#/components/schemas/BookCopyFormat'
          description: Filter by format
        - name: bookId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by book
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of book copies
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookCopyResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                    price: 25.00
                    format: PAPERBACK
                    libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                    status: AVAILABLE
                    pageNumber: 120
                    updatedAt: "2026-06-01T10:30:00Z"
                  - id: g2b3c4d5-e6f7-8901-abcd-ef1234567891
                    price: 30.00
                    format: HARDCOVER
                    libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                    status: AVAILABLE
                    pageNumber: 96
                    updatedAt: "2026-06-01T10:30:00Z"
                  - id: h3c4d5e6-f7a8-9012-abcd-ef1234567892
                    price: 18.50
                    format: PAPERBACK
                    libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    bookId: c2d3e4f5-a6b7-8901-abcd-ef1234567891
                    status: AVAILABLE
                    pageNumber: 280
                    updatedAt: "2026-06-01T11:00:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 3

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createBookCopy
      summary: Add a new book copy to a library
      tags:
        - Book Copies
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookCopyRequest'
      responses:
        '201':
          description: Book copy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCopyResponse'
              example:
                id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                price: 25.0
                format: PAPERBACK
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                status: AVAILABLE
                pageNumber: 120
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}/copies/{copyId}:
    get:
      operationId: getBookCopy
      summary: Get a book copy by ID
      tags:
        - Book Copies
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: copyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Book copy details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCopyResponse'
              example:
                id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                price: 25.0
                format: PAPERBACK
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                status: AVAILABLE
                pageNumber: 120
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateBookCopy
      summary: Update a book copy
      tags:
        - Book Copies
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: copyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookCopyUpdateRequest'
      responses:
        '200':
          description: Book copy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookCopyResponse'
              example:
                id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                price: 25.0
                format: PAPERBACK
                libraryId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                bookId: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                status: AVAILABLE
                pageNumber: 120
                updatedAt: "2026-06-01T10:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

    delete:
      operationId: deleteBookCopy
      summary: Remove a book copy from a library
      tags:
        - Book Copies
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: copyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Book copy deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Arrivals ──────────────────
  /libraries/{libraryId}/arrivals:
    get:
      operationId: listLibraryArrivals
      summary: List arrivals for a library
      tags:
        - Arrivals
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by arrival date (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by arrival date (inclusive)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of arrivals
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ArrivalResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                    createdAt: "2026-06-10T08:00:00Z"
                    arrivalDate: "2026-06-10T08:00:00Z"
                    library:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      name: Librairie Générale
                      phone: '+261 34 12 345 67'
                      email: contact@librairie-generale.mg
                      address: 15 Avenue de l'Indépendance, Antananarivo
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createArrival
      summary: Create a new arrival for a library
      tags:
        - Arrivals
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArrivalRequest'
      responses:
        '201':
          description: Arrival created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalResponse'
              example:
                id: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                createdAt: "2026-06-10T08:00:00Z"
                arrivalDate: "2026-06-10T08:00:00Z"
                library:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Librairie Générale
                  phone: '+261 34 12 345 67'
                  email: contact@librairie-generale.mg
                  address: 15 Avenue de l'Indépendance, Antananarivo

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}/arrivals/{arrivalId}:
    get:
      operationId: getArrival
      summary: Get an arrival by ID
      tags:
        - Arrivals
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      responses:
        '200':
          description: Arrival details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalResponse'
              example:
                id: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                createdAt: "2026-06-10T08:00:00Z"
                arrivalDate: "2026-06-10T08:00:00Z"
                library:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Librairie Générale
                  phone: '+261 34 12 345 67'
                  email: contact@librairie-generale.mg
                  address: 15 Avenue de l'Indépendance, Antananarivo

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Arrival Items ──────────────────
  /arrivals/{arrivalId}/items:
    get:
      operationId: listArrivalItems
      summary: List items in an arrival
      tags:
        - Arrivals
      parameters:
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      responses:
        '200':
          description: List of arrival items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArrivalItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  arrivalId: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                  createdAt: "2026-06-10T08:00:00Z"
                  purchasePrice: 15.0
                  quantity: 3
                  updatedAt: "2026-06-10T08:00:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createArrivalItem
      summary: Add an item to an arrival
      tags:
        - Arrivals
      security:
        - BearerAuth: []
      parameters:
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArrivalItemRequest'
      responses:
        '201':
          description: Arrival item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrivalItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  arrivalId: a2b3c4d5-e6f7-8901-abcd-ef1234567890
                  createdAt: "2026-06-10T08:00:00Z"
                  purchasePrice: 15.0
                  quantity: 3
                  updatedAt: "2026-06-10T08:00:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /arrivals/{arrivalId}/items/{bookCopyId}:
    delete:
      operationId: deleteArrivalItem
      summary: Remove an item from an arrival
      tags:
        - Arrivals
      security:
        - BearerAuth: []
      parameters:
        - name: arrivalId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a2b3c4d5-e6f7-8901-abcd-ef1234567890
        - name: bookCopyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Arrival item deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Sales ──────────────────
  /libraries/{libraryId}/sales:
    get:
      operationId: listLibrarySales
      summary: List sales for a library
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/SaleStatus'
          description: Filter by sale status
        - name: customer.id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by customer ID
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by sale date (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by sale date (inclusive)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Paginated list of sales
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SaleResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  -
                    id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                    saleDate: "2026-06-15T14:30:00Z"
                    customer:
                      id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                      lastName: Randria
                      firstName: Faly
                      birthDate: "1995-08-12"
                      email: faly.randria@email.com
                      phone: "+261 32 11 234 56"
                      updatedAt: "2026-06-15T14:30:00Z"
                      createdAt: "2026-06-01T10:00:00Z"
                    status: SOLD
                    library:
                      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      name: Librairie Générale
                      phone: '+261 34 12 345 67'
                      email: contact@librairie-generale.mg
                      address: 15 Avenue de l'Indépendance, Antananarivo
                    createdAt: "2026-06-15T14:30:00Z"
                pagination:
                  page: 1
                  size: 20
                  total: 1

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createSale
      summary: Create a new sale in a library
      tags:
        - Sales
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleRequest'
      responses:
        '201':
          description: Sale created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleResponse'
              example:
                id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                saleDate: "2026-06-15T14:30:00Z"
                customer:
                  id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                  lastName: Randria
                  firstName: Faly
                  birthDate: "1995-08-12"
                  email: faly.randria@email.com
                  phone: "+261 32 11 234 56"
                  updatedAt: "2026-06-15T14:30:00Z"
                  createdAt: "2026-06-01T10:00:00Z"
                status: SOLD
                library:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Librairie Générale
                  phone: '+261 34 12 345 67'
                  email: contact@librairie-generale.mg
                  address: 15 Avenue de l'Indépendance, Antananarivo
                createdAt: "2026-06-15T14:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /libraries/{libraryId}/sales/{saleId}:
    get:
      operationId: getSale
      summary: Get a sale by ID
      tags:
        - Sales
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      responses:
        '200':
          description: Sale details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleResponse'
              example:
                id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                saleDate: "2026-06-15T14:30:00Z"
                customer:
                  id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                  lastName: Randria
                  firstName: Faly
                  birthDate: "1995-08-12"
                  email: faly.randria@email.com
                  phone: "+261 32 11 234 56"
                  updatedAt: "2026-06-15T14:30:00Z"
                  createdAt: "2026-06-01T10:00:00Z"
                status: SOLD
                library:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Librairie Générale
                  phone: '+261 34 12 345 67'
                  email: contact@librairie-generale.mg
                  address: 15 Avenue de l'Indépendance, Antananarivo
                createdAt: "2026-06-15T14:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      operationId: updateSale
      summary: Update a sale (e.g. change status)
      tags:
        - Sales
      security:
        - BearerAuth: []
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleUpdateRequest'
      responses:
        '200':
          description: Sale updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleResponse'
              example:
                id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                saleDate: "2026-06-15T14:30:00Z"
                customer:
                  id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                  lastName: Randria
                  firstName: Faly
                  birthDate: "1995-08-12"
                  email: faly.randria@email.com
                  phone: "+261 32 11 234 56"
                  updatedAt: "2026-06-15T14:30:00Z"
                  createdAt: "2026-06-01T10:00:00Z"
                status: SOLD
                library:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  name: Librairie Générale
                  phone: '+261 34 12 345 67'
                  email: contact@librairie-generale.mg
                  address: 15 Avenue de l'Indépendance, Antananarivo
                createdAt: "2026-06-15T14:30:00Z"

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Sale Items ──────────────────
  /sales/{saleId}/items:
    get:
      operationId: listSaleItems
      summary: List items in a sale
      tags:
        - Sales
      parameters:
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      responses:
        '200':
          description: List of sale items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SaleItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  saleId: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                  createdAt: "2026-06-15T14:30:00Z"
                  quantity: 1
                  price: 25.0

        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: createSaleItem
      summary: Add an item to a sale
      tags:
        - Sales
      security:
        - BearerAuth: []
      parameters:
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleItemRequest'
      responses:
        '201':
          description: Sale item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleItemResponse'
              example:
                -
                  bookCopyId: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  saleId: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                  createdAt: "2026-06-15T14:30:00Z"
                  quantity: 1
                  price: 25.0

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /sales/{saleId}/items/{bookCopyId}:
    delete:
      operationId: deleteSaleItem
      summary: Remove an item from a sale
      tags:
        - Sales
      security:
        - BearerAuth: []
      parameters:
        - name: saleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: b2c3d4e5-f6a7-8901-abcd-ef1234567890
        - name: bookCopyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '204':
          description: Sale item deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ═══════════════════════ Analytics ═══════════════════════

  /libraries/{libraryId}/analytics/revenue/today:
    get:
      operationId: getDailyRevenue
      summary: Daily revenue
      description: Total revenue from completed sales today for a library
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        '200':
          description: Daily revenue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyRevenueResponse'
              example:
                date: "2026-06-06"
                totalRevenue: 1250.00
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/revenue/monthly:
    get:
      operationId: getMonthlyRevenue
      summary: Monthly revenue
      description: Total revenue for a given month in a library
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: year
          in: query
          schema:
            type: integer
            example: 2026
          description: Year (defaults to current year)
        - name: month
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 6
          description: Month (1-12, defaults to current month)
      responses:
        '200':
          description: Monthly revenue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyRevenueItem'
              example:
                year: 2026
                month: june
                totalRevenue: 4500.00
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/revenue/by-genre:
    get:
      operationId: getRevenueByGenre
      summary: Revenue by genre
      description: Total revenue grouped by genre for a library, with pagination and sorting
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Start date (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: End date (inclusive)
        - name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort by totalRevenue (ascending or descending)
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
      responses:
        '200':
          description: Revenue grouped by genre (paginated)
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RevenueByGenreItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - genreId: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                    genreName: Fiction
                    totalRevenue: 2300.00
                    totalSold: 45
                  - genreId: e2f3a4b5-c6d7-8901-abcd-ef1234567891
                    genreName: Science-Fiction
                    totalRevenue: 1500.00
                    totalSold: 28
                pagination:
                  page: 1
                  size: 20
                  total: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/books:
    get:
      operationId: getPopularBooks
      summary: Top selling books
      description: Ranking of the best-selling books for a library
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: sortOrder
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort by totalSold (ascending or descending)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number
        - name: size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
            minimum: 1
          description: Number of items per page
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Start date (inclusive)
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: End date (inclusive)
      responses:
        '200':
          description: Best-selling books ranking
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopBookItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
              example:
                data:
                  - book:
                      id: b1c2d3e4-f5a6-7890-abcd-ef1234567890
                      title: Le Petit Prince
                      isbn: 978-2-07-061275-8
                      publisher: Gallimard
                      publishedAt: "1943-04-06"
                      createdAt: "2026-06-01T10:30:00Z"
                      authors:
                        - id: c1d2e3f4-a5b6-7890-abcd-ef1234567890
                          firstName: Antoine
                          lastName: de Saint-Exupéry
                      genres:
                        - id: d1e2f3a4-b5c6-7890-abcd-ef1234567890
                          name: Fiction
                    totalSold: 30
                    totalRevenue: 750.00
                  - book:
                      id: c2d3e4f5-a6b7-8901-abcd-ef1234567891
                      title: Les Misérables
                      isbn: 978-2-07-040922-8
                      publisher: Gallimard
                      publishedAt: "1862-03-30"
                      createdAt: "2026-06-02T11:00:00Z"
                      authors:
                        - id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                          firstName: Victor
                          lastName: Hugo
                      genres:
                        - id: f2a3b4c5-d6e7-8901-abcd-ef1234567890
                          name: Roman
                    totalSold: 22
                    totalRevenue: 660.00
                pagination:
                  page: 1
                  size: 20
                  total: 2
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/sales/recent:
    get:
      operationId: getRecentSales
      summary: Recent sales
      description: Most recent sales in a library
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
            example: 20
          description: Number of sales to return
      responses:
        '200':
          description: List of recent sales
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentSaleItem'
              example:
                - id: b2c3d4e5-f6a7-8901-abcd-ef1234567890
                  saleDate: "2026-06-06T14:30:00Z"
                  customer:
                    id: e1f2a3b4-c5d6-7890-abcd-ef1234567890
                    lastName: Randria
                    firstName: Faly
                    birthDate: "1995-08-12"
                    email: faly.randria@email.com
                    phone: "+261 32 11 234 56"
                    updatedAt: "2026-06-06T14:30:00Z"
                    createdAt: "2026-06-01T10:00:00Z"
                  status: SOLD
                  totalAmount: 75.00
                - id: c3d4e5f6-a7b8-9012-abcd-ef1234567891
                  saleDate: "2026-06-06T11:15:00Z"
                  customer:
                    id: f2a3b4c5-d6e7-8901-abcd-ef1234567890
                    lastName: Rakoto
                    firstName: Nantenaina
                    birthDate: "1998-03-20"
                    email: nantenaina.rakoto@email.com
                    phone: "+261 32 98 765 43"
                    updatedAt: "2026-06-06T11:15:00Z"
                    createdAt: "2026-06-02T08:00:00Z"
                  status: BOOKED
                  totalAmount: 45.00
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /libraries/{libraryId}/analytics/stock/{bookcopy}:
    get:
      operationId: getStockOverview
      summary: Books in stock
      description: Stock overview for a library (available copies, sold, breakdown by format)
      tags:
        - Analytics
      parameters:
        - name: libraryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: bookcopy
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
          description: Book ID to get stock for
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - ALL
              - HARDCOVER
[...]
